/* buttons.css */

.faux-button {
  background-color: black;
  padding: 0.5em 1em;
  border: none;
  border-radius: 2rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  font-weight: 700;
  z-index: 0;
  box-shadow: 10px 0 20px var(--blue-d), -10px 0 20px var(--pink-d);
  text-decoration: none;
}

.faux-button::after {
  content: "";
  position: absolute;
  border-radius: inherit;
  background-image: linear-gradient(
    to bottom right,
    var(--blue-d),
    var(--pink-d)
  );
  z-index: -1;
}

.faux-button:hover {
  z-index: 0;
  background-image: linear-gradient(
    to bottom right,
    var(--blue-d),
    var(--pink-d)
  );
}

/* Remove psuedoelement line in contact link */
.faux-button:hover::after,
.faux-button:focus::after {
  width: 0%;
}

/* Project buttons */
.proj-link {
  width: 2rem;
  height: 1rem;
  font-size: 0.8rem;
  font-weight: 400;
  border-radius: 0.2rem;
  box-shadow: 5px 0 10px var(--blue-d), -5px 0 10px var(--pink-d);
}
