/* Section Contact */
#section-contact {
  width: 100%;
  justify-self: center;
  padding-bottom: 0;
}

#container-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 clamp(2%, 20%, 30%);
  text-align: center;
}

/* Remove psuedoelement line in contact link */
.footer-button:hover::after,
.footer-button:focus::after {
  width: 0%;
}

.footer-copyright {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 1.5rem;
  padding: 4rem 2rem 2rem 1rem;
}

footer p {
  font-weight: 300;
  font-size: 0.8rem;
}