/* header.css */

/*Nav Header*/
.nav-header {
  padding: 0 3em 0 3em;
  margin: 0 -0.5em;
  border-bottom: 4px solid var(--blue-d);
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: sticky;
  top: 0px;
  height: 60px;
  z-index: 10;
  align-items: center;
}

nav {
  height: 60px;
  align-content: center;
  height: relative;
}

.nav-mobile {
  display: none;
}
.nav-desktop {
  display: flex;
  flex-direction: row;
  gap: clamp(20px, 5vw, 40px);
}

/* Switch between nav-desktop and nav-mobile */
@media screen and (max-width: 768px) {
  .nav-desktop {
    display: none;
  }

  .nav-mobile {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    background-color: black;
    position: relative;
    height: 60px;
  }

  summary {
    color: white;
    font-size: 1.2em;
    align-content: center;
    height: 100%;
  }

  summary::marker {
    content: "";
  }

  .nav-mobile[open] summary {
    align-content: center;
    height: 60px;
    position: fixed;
  }

  .nav-mobile .nav-item {
    position: relative;
    top: 58px;
    align-self: flex-end;
    padding: 0.4em 1em;
    margin-right: -1em;
    background-color: black;
    box-shadow: 0 1px 0 1px var(--blue-d);
  }
}
